/* Header */
header {
   background-color: darkslategrey;
    border-bottom: grey 1px solid;
    max-height: 22em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

@media screen and (max-width: 379) {
    header {
      font-size: 10vw;
    }
  }
.fas {
    color: rgb(255, 242, 59);
}

/* body elements */
body {
    background-position: center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    padding-top: 5px;
}
.search-container {
    max-width: 20em;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 2px
}

.city {
    font-family: 'Lato', sans-serif;
    margin-bottom: 4px;
    border: solid 1px;
    border-color: darkslategray;
    text-align: left;
    font-size: 25px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 5px;
}

.form-control {
    max-width: 70%;
    border: rgb(163, 163, 163) 1px solid;
}

.city-cards {
    width: 95%;
    border: rgb(163, 163, 163) 1px solid;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

#cities-list {
    width: 90%;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.city-container {
    border: solid 1px  rgb(163, 163, 163) ;
    margin-left: 1em;
    max-width: 44em;
}

#five-day{
    margin-left: 15px;
}

.five-day-cards{
    color: white;
    padding: .7em;
    padding-left: .5em;
    font-size: 70%;
}

#uv-index-span{
    color: white;

}

#uv-index-text {
    display: inline-block;
}

#uv-index-card {
    display: inline-block;
    box-shadow: -1px -1px 21px 0px rgba(50, 50, 50, 0.75);
}

.delete-this{
    float: right;
    border-radius: 50%;
}
